---
// src/pages/index.astro
<<<<<<< HEAD
import Footer from '../components/footer';
=======
import Hero from '../components/hero';
import History from '../components/historia';
>>>>>>> 38695391a4f851dfec6d0185e6f3babc84601e70
import Navbar from '../components/navbar';
import Menu from '../components/menu';
import SocialFloat from '../components/redes_sociales'; // Apunta a la carpeta
import '../styles/global.css';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Crepería Pirata</title>
	</head>
	<body class="bg-slate-900 min-h-screen">
		
<<<<<<< HEAD
		
		<Footer client:load />
=======
		<Navbar client:load />
		<Hero client:load />
		<History client:visible />
		<Menu client:visible />
		<SocialFloat client:idle />

		

>>>>>>> 38695391a4f851dfec6d0185e6f3babc84601e70

		

	</body>
</html>