---
// src/pages/index.astro
import Hero from '../components/hero';
import History from '../components/historia';
import Navbar from '../components/navbar';
import Menu from '../components/menu';
import SocialFloat from '../components/redes_sociales'; // Apunta a la carpeta
import '../styles/global.css';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Crepería Pirata</title>
	</head>
	<body class="bg-slate-900 min-h-screen">
		
		<Navbar client:load />
		<Hero client:load />
		<History client:visible />
		<Menu client:visible />
		<SocialFloat client:idle />

		


		

	</body>
</html>