---
// src/pages/index.astro
import Navbar from '../components/navbar';
import '../styles/global.css';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Crepería Pirata</title>
	</head>
	<body class="bg-slate-900 min-h-screen">
		
		<Navbar client:load />

		

	</body>
</html>